@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Samouraï And Co</h1>
    <p class="lead">Créez vos Samouraïs, équipez-les, faites-leur apprendre des arts martiaux et COMBATTEZ !!!</p>
    <p><a href="#" class="btn btn-primary btn-lg">En savoir plus</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pour commencer</h2>
        <p>
            Créez un samouraï à votre image, choisissez votre arme de prédilection, et si elle n'existe pas...'
        </p>
        <p><a class="btn btn-default" href="#">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Créez votre arme</h2>
        <p>Forgez votre katana, choisissez votre arme parmi les armes par défaut ou faites parler votre imagination et créez-la !!!.</p>
        <p><a class="btn btn-default" href="#">En savoir plus &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Combattez</h2>
        <p>Vous êtes équipés, maîtrisez divers arts martiaux, vous êtes prêt à COMBATTRE !!!</p>
        <p><a class="btn btn-default" href="#">En savoir plus &raquo;</a></p>
    </div>
</div>